[submodule "cpp00"]
	path = cpp00
	url = git@github.com:gdtknight/cpp00.git
[submodule "cpp01"]
	path = cpp01
	url = git@github.com:gdtknight/cpp01.git
[submodule "cpp02"]
	path = cpp02
	url = git@github.com:gdtknight/cpp02.git
